$darkshade: rgb(31, 32, 65);
$darkshade50: rgba(31, 32, 65, 0.50);
$darkshade25: rgba(31, 32, 65, 0.25);
$green: hsl(145, 50%, 62%);
$slider-bg-color: #13b0fc;
$label-bg-color: lighten($slider-bg-color, 20%);
$num-dash-color: #afafaf;
$num-color: #6a6a6a;

$slider-border-radius: 3px;

$thumb-width: 6px;
$thumb-height: 18px;

$h1-font-size: 24px;
$h2-font-size: 19px;
$h3-font-size: 12px;

$body-font-size: 14px;
$slider-height: 10px;


.mi-slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 40px 10px 40px;
  font-family: sans-serif;
  color: #fff;
  &__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: $slider-height;
    &_vertical {
      width: $slider-height;
      min-height: 100px;
      height: 100%;
      .mi-slider {
        &__scale {
          flex-direction: column;
          &::before {
            width: 30px;
            height: 100%;
            transform: translateX(-100%);
          }
          &-num {
            width: 7px;
            height: 1px;
            transform: translateX(-14px);
            &::before {
              top: -6px;
              left: -5px;
              transform: translateX(-100%);
            }
          }
        }
        &__thumb {
          width: $thumb-height;
          height: $thumb-width;
        }
      }
    }
  }
  &__scale {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $slider-border-radius;
    background: rgba(61, 90, 134, 0.15);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 40px;
    }
    &-num {
      position: relative;
      width: 1px;
      height: 7px;
      transform: translateY(16px);
      background: $num-dash-color;
      &::before {
        content: attr(data-before);
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        font-weight: 300;
        color: $num-color;
      }
    }
  }
  &__label {
    position: absolute;
    padding: 2px 5px;
    font-family: sans-serif;
    font-size: 14px;
    background: $label-bg-color;
    border-radius: 2px;
    &_position {
      &_left {
        transform: translate(-100%, -130%);
      }
      &_right {
        transform: translate(100%, -130%);
      }
      &_top {
        transform: translate(20px, -100%);
      }
      &_bottom {
        transform: translate(20px, 100%);
      }
    }
  }
  &__input {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 4;
    height: 6px;
    width: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    &::-webkit-slider-thumb {
      pointer-events: all;
      width: 12px;
      height: 12px;
      z-index: 4;
      border-radius: 0;
      border: 0 none;
      -webkit-appearance: none;
      &:hover {
        cursor: pointer
      } 
    }
  }
  &__progress-bar {
    position: absolute;
    height: $slider-height;
    z-index: 1;
    border-radius: $slider-border-radius;
    background: $slider-bg-color;
    &_vertical {
      width: $slider-height;
      height: auto;
    }
  }
  &__thumb {
    position: absolute;
    z-index: 2;
    width: $thumb-width;
    height: $thumb-height;
    background: $slider-bg-color;
    &:hover {
      cursor: pointer;
    }
    &:active,
    &:focus {
      background: lighten($slider-bg-color, 20%);
    }
    &_position {
      &_left {
        transform: translate(-50%, -4px);
      }
      &_right {
        transform: translate(50%, -4px);
      }
      &_top {
        transform: translate(-4px, -50%);
      }
      &_bottom {
        transform: translate(-4px, 50%);
      }
    }
  }
}